<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>ifektri</title>
</head>
<body style="background-image: url('ifektri2.png'); background-repeat: no-repeat;background-attachment: fixed; background-position: center top;background-color:rgba(0,0,0,0.75);
  background-size: 50%;color:white;-webkit-text-stroke-width: 0.005em;
  -webkit-text-stroke-color: black;font-family: Ubuntu;">
  <h2>WELCOME</h2>
  <p>This ifektri server is open for business</p>
 <a href="/console">admin console</a>
   <br/>

    
  <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
  <script src="ifektri.js"></script>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
</body>
</html>